.boxes{
    
    grid-row: 4/5;
    grid-column: 3/11;
    @media only screen and (max-width: $bp-layer-9){
        grid-row: 5/6;
        grid-column: 2/11;
    }
    @media only screen and (max-width: $bp-layer-8){
        grid-row: 7/8;
        grid-column: 2/11;
    }  
    
    margin: 15rem 0;

    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));

    grid-gap: 6rem;

}

.card{
    background-color: $color-grey-light-1;
    display: grid;

    grid-row-gap:3.5rem;

    grid-template-columns: repeat(2,1fr);
    &__img{
        width: 100%;

        grid-column: 1/-1;
        grid-row: 1/2;
        z-index: 1;
    }
    &__name{
        grid-column: 1/-1;
        grid-row: 1/2;
        z-index: 2;
        background-color: $color-secondary;

        padding: 0.5rem 4rem;

        font-size: 1.9rem;
        font-weight: 400;
        font-family: $font-display;
        justify-self: center;
        align-self: end;
        color: white;
        transform: translateY(50%);
    }
    &__like{
        z-index: 2;
        width: 2rem;
        height: 2rem;
        fill: $color-grey-light-1;

        grid-row: 1/2;
        grid-column: 2/3;

        align-self: start;
        justify-self: end;

        position: relative;

        margin: 1rem;
        transition: all 0.2s;

        &:hover,&--active{
            fill: $color-primary;
        }
    }
    &__location,
    &__rooms{
        margin-top: 2rem;
    }

    &__location,
    &__rooms,
    &__area,
    &__price{
        font-size: 1.4rem;

        display: flex;

        & svg{
            width: 2rem;
            height: 2rem;
            margin: 0 1rem;
            fill: $color-primary;
        }
    }
    &__btn{
        grid-column: 1/-1;
    }
}